button {
  margin-left: 10px;
}

#adduserbutton {
  margin-top: 15px;
}

.card {
  margin-bottom: 50px;
}
main{
  background-color: rgb(189, 247, 224);
}

.full-height {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstBox {
  height: 250px;
  width: 400px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  button {
    margin-left: 5px;
  }

  #adduserbutton {
    margin-top: 10px;
  }

  .card {
    margin-bottom: 30px;
  }

  .full-height {
    min-height: 80vh;
  }

  .firstBox {
    height: 200px;
    width: 300px;
  }
}
