<body>
  <div class="container-fluid full-height">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Requests Pending</h5>
            <p class="card-text">15</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Revenue</h5>
            <p class="card-text">$5000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Active Customers</h5>
            <p class="card-text">100</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Active Washers</h5>
            <p class="card-text">25</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
