<div>
  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Package Name</th>
        <th scope="col">Address</th>
        <th scope="col">Car Name</th>
        <th scope="col">Car Model</th>
        <th scope="col">Status</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orders">
      <td>{{item.customerName}}</td>
      <td>{{item.packageName}}</td>
      <td>{{item.adress}}</td>
      <td>{{item.carName}}</td>
      <td>{{item.carModel}}</td>
      <td>{{item.deliveryStatus}}</td>
      <td>{{item.paymentStatus}}</td>
      <td>{{item.totalCost}}</td>
      </tr>
    </tbody>
  </table>

 </div>
