<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="back-img">
  <div class="container">
    <h2 class="text-center">Reset Password</h2>
    <form class="login-form" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email Address*</label>
        <input formControlName="email"
        type="email"
        class="form-control"
         id="email"
         placeholder="Enter your email address"
        required
               />
      </div>
      <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
       class="text-danger">*Email is Required</small>
      <button type="submit" class="btn btn-primary" (click)="resetPassword()"  >Reset Password</button>
    </form>
  </div>
