<body class="container-fluid">
  <div class="container" id="loginform">
    <h2 class="login-title">Card Details</h2>

    <form class="login-form" #myForm="ngForm">

      <div class="row">
        <div class="col-md-6 box ">
           <div class="col-md-12">
            <label for="cardHolderName">Card Holder Name</label>
            <input
                   id="cardHolderName"
                   type="text"
                   placeholder="Card Holder Name"
                   name="cardHolderName"
                   required
                   #cardHolderName="ngModel"
               [(ngModel)]="card.cardHolderName"
                   />

           </div>
        </div>
        <div class="col-md-6 box ">
          <div class="col-md-12">
           <label for="cardNumber">Card Number</label>
           <input
                  id="cardNumber"
                  type="number"
                  placeholder="Card Number"
                  name="cardNumber"
                  required
                  #cardNumber="ngModel"
              [(ngModel)]="card.cardNumber"
                  />

          </div>
       </div>

      </div>

      <div class="row">

        <div class="col-md-6 box">
           <div class="col-md-12">
            <label for="cvv">Cvv </label>
            <input
                   id="cvv"
                   type="number"
                   placeholder="Cvv"
                   name="cvv"
                   required
                   #cvv="ngModel"
               [(ngModel)]="card.cvv"
                   />

           </div>
        </div>
        <div class="col-md-6 box">
          <div class="col-md-12">
           <label for="expiry">Expiry Date </label>
           <input
                  id="expiry"
                  type="date"
                  placeholder="Expiry"
                  name="expiry"
                  required
                  #expiry="ngModel"
              [(ngModel)]="card.expiry"
                  />

          </div>
       </div>
      </div>


      <button
       class="btn btn--form" type="submit" value="Save" (click)="onSave(myForm)" routerLink="invoice">
        Save Details
      </button>


    </form>
  </div>
</body>

