<body class="container-fluid">
  <div class="container" id="loginform">
    <h2 class="login-title">Book Car Wash</h2>

    <form class="login-form" #myForm="ngForm">

      <div class="row">
        <div class="col-md-6 box ">
           <div class="col-md-12">
            <label for="carName">Car Name</label>
            <input
                   id="carName"
                   type="text"
                   placeholder="Car Name"
                   name="carName"
                   required
                   #carName="ngModel"
               [(ngModel)]="orderser.orderformobj.car.name"
                   />

           </div>
        </div>
        <div class="col-md-6 box">
           <div class="col-md-12">
            <label for="carModel">Car Model </label>
            <input
                   id="carModel"
                   type="text"
                   placeholder="Car Model"
                   name="carModel"
                   required
                   #carModel="ngModel"
               [(ngModel)]="orderser.orderformobj.car.model"
                   />

           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 box ">
           <div class="col-md-12">
            <label for="address">Address </label>
            <input
                   id="address"
                   type="text"
                   placeholder="Address"
                   name="address"
                   required
                   #address="ngModel"
               [(ngModel)]="orderser.orderformobj.address.custAddress"
                   />

           </div>
        </div>
        <div class="col-md-6 box ">
          <div class="col-md-12">
            <label for="city">City</label>
           <input
                  id="city"
                  type="city"
                  placeholder="City"
                  name="city"
                  required
                  #city="ngModel"
               [(ngModel)]="orderser.orderformobj.address.city"
                  />

          </div>
       </div>
      </div>
      <div class="row">
        <div class="col-md-6 box">
           <div class="col-md-12">
            <label for="state">State</label>
            <input
            id="state"
            type="state"
            placeholder="State"
            name="state"
            required
            #state="ngModel"
               [(ngModel)]="orderser.orderformobj.address.state"
            />

           </div>
        </div>
    <div class="col-md-6 box">
        <div class="col-md-12">
          <label for="pincode">Pincode</label>
          <input
          id="pincode"
          type="text"
          placeholder="Pincode"
          name="pincode"
          required
          #pincode="ngModel"
            [(ngModel)]="orderser.orderformobj.address.pincode"
          />
        </div>
     </div>
      </div>


        <div class="col-md-12">
          <label for="instructions">Instructions</label>
          <input
          id="instructions"
          type="text"
          placeholder="Instructions"
          name="instructions"
          required
          #pincode="ngModel"
            [(ngModel)]="orderser.orderformobj.instructions"
          />
        </div>

      <button
       class="btn btn--form" type="submit" value="Save" (click)="onSave(myForm)">
        Save Details
      </button>


    </form>
  </div>
</body>

