
<section class="navigation">
  <div class="nav-container">
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" ></a></div>
      <ul class="nav-list">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a >About</a>
        </li>
        <li>
          <a >Services</a>
          <ul class="nav-dropdown">
            <li>
              <a >Basic</a>
            </li>
            <li>
              <a >Premium</a>
            </li>
            <li>
              <a >Platnium</a>
            </li>
          </ul>
        </li>
        <li>
          <a >Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
