<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5">
      </div>
    </div>
<div class="row">
     <div class="col-sm-12 col-md-6 col-lg-4 mb-4"  *ngFor="let item of pagedUsers">
      <div class="card text-dark card-has-bg click-col" (click)="populatePackage(item)" routerLink="form"
      style="background-image:url('https://images.pexels.com/photos/1409999/pexels-photo-1409999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
         <img class="card-img d-none" src="https://images.pexels.com/photos/1409999/pexels-photo-1409999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <!-- <small class="card-meta mb-2">{{item.id}}</small><br><br> -->
            <h4 class="card-title mt-0 "><a class="text-dark" herf="https://creativemanner.com">{{item.name}}</a></h4>
           <h6><i class="far fa-clock"></i> {{item.description}}</h6>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h4 class="my-0 text-dark d-block">Price:{{item.price}} + Tax</h4>
  </div>
</div>
          </div>
        </div>
      </div></div>
</div>


<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link"  (click)="changePage(1)">First</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link"  (click)="changePage(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
      <a class="page-link"  (click)="changePage(page)">{{page}}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link"  (click)="changePage(currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link"  (click)="changePage(totalPages)">Last</a>
    </li>
  </ul>
</nav>



</div>
</section>
