<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div>
  <div class="container">
    <h2 class="text-center">Reset Password</h2>
    <form class="login-form" [formGroup]="loginForm">
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input formControlName="newpassword"
        type="password"
        class="form-control"
         id="newpassword"
         placeholder="New Password"
        required
               />

      <small *ngIf="loginForm.controls['newpassword'].dirty && loginForm.hasError('required','newpassword')"
       class="text-danger">*Password is Required</small>


       <label for="confirmpassword">Confirm Password</label>
        <input formControlName="confirmpassword"
        type="password"
        class="form-control"
         id="confirmpassword"
         placeholder="Confirm Password"
        required
               />
      </div>
      <small *ngIf="loginForm.controls['confirmpassword'].dirty && loginForm.hasError('required','confirmpassword')"
       class="text-danger">*Password is Required</small>



      <button type="submit" class="btn btn-primary" (click)="resetPassword()"  >Reset Password</button>
    </form>
  </div>
